@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --destructive: 0deg 70.22% 34.59%;
    --destructive-foreground: 0 0% 98%;
    --warning: 40.61deg 96.12% 40.39%;
    --warning-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --red-theme: #e60000;
  }

  /* .dark { */
  /*   --background: 240 23% 9%; */
  /*   --foreground: 226 64% 88%; */
  /*   --card: 240 23% 9%; */
  /*   --card-foreground: 226 64% 88%; */
  /*   --popover: 240 23% 9%; */
  /*   --popover-foreground: 226 64% 88%; */
  /*   --primary: 226 64% 88%; */
  /**/
  /*   --primary-foreground: 240 23% 9%; */
  /**/
  /*   --secondary: 217 92% 76%; */
  /**/
  /*   --secondary-foreground: 240 23% 9%; */
  /**/
  /*   --muted: 233 12% 39%; */
  /**/
  /*   --muted-foreground: 228 24% 72%; */
  /**/
  /*   --accent: 233 12% 39%; */
  /*   --accent-foreground: 226 64% 88%; */
  /*   --destructive: 343 81% 75%; */
  /*   --destructive-foreground: 240 23% 9%; */
  /*   --border: 233 12% 39%; */
  /*   --input: 233 12% 39%; */
  /*   --ring: 217 92% 76%; */
  /*   --radius: 0.5rem; */
  /* } */

  /* .dark { */
  /*   --background: 240 10% 3.9%; */
  /*   --foreground: 0 0% 98%; */
  /*   --card: 240 10% 3.9%; */
  /*   --card-foreground: 0 0% 98%; */
  /*   --popover: 240 10% 3.9%; */
  /*   --popover-foreground: 0 0% 98%; */
  /*   --primary: 0 0% 98%; */

  /*   --primary-foreground: 240 5.9% 10%; */

  /*   --secondary: 240 3.7% 15.9%; */
  /*   --secondary-foreground: 0 0% 98%; */

  /*   --muted: 240 3.7% 15.9%; */
  /*   --muted-foreground: 240 5% 64.9%; */

  /*   --accent: 240 3.7% 15.9%; */
  /*   --accent-foreground: 0 0% 98%; */
  /*   --destructive: 0 62.8% 30.6%; */
  /*   --destructive-foreground: 0 0% 98%; */
  /*   --border: 240 3.7% 15.9%; */
  /*   --input: 240 3.7% 15.9%; */
  /*   --ring: 240 4.9% 83.9%; */
  /*   --chart-1: 220 70% 50%; */
  /*   --chart-2: 160 60% 45%; */
  /*   --chart-3: 30 80% 55%; */
  /*   --chart-4: 280 65% 60%; */
  /*   --chart-5: 340 75% 55%; */
  /* } */
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }

  html {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
    /* Width of the entire scrollbar */
    height: 8px;
    /* Height of the scrollbar for horizontal scrolling */
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Scrollbar thumb radius */
    height: 24px;
    /* Scrollbar thumb height */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--border) / 0.98);
    /* Scrollbar thumb color on hover */
  }

  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: '';
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@layer utilities {
  .ellipsis {
    /* font-size: 0.75rem; */
    /* line-height: 1rem; */
    font-weight: 500;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

/*NOTE: MINITMAL EDITOR */
@layer components {
  .mdx__minimal__text__editor {
    @apply grid border border-input overflow-visible;

    .disabled {
      @apply pointer-events-none;
    }

    * {
      /* @apply transition-all duration-300 ease-in-out; */

      &:focus-visible {
        outline: none !important;
      }
    }

    /* Scroll area viewport styling */
    div[data-radix-scroll-area-viewport] {
      @apply rounded-none !overflow-visible;
    }

    .tiptap.ProseMirror {
      /* Apply transition to all elements */

      /* Placeholder for empty paragraph */
      p.is-editor-empty:first-child::before {
        @apply text-gray-400 text-sm pointer-events-none;
        content: attr(data-placeholder);
        float: left;
        height: 0;
      }

      /* Preformatted text background */
      > pre {
        @apply bg-accent/40;
      }

      /* Code block styling */
      code {
        @apply rounded-sm;
      }

      /* Paragraph font size */
      p {
        @apply text-sm;

        &:focus-visible {
          outline: none !important;
        }
      }

      /* Heading styles */
      h1 {
        @apply text-2xl my-2;
      }

      h2 {
        @apply text-xl my-2;
      }

      h3 {
        @apply text-lg my-2;
      }

      h4 {
        @apply text-base;
      }

      h5 {
        @apply text-sm;
      }

      h6 {
        @apply text-xs;
      }
    }
  }

  .div.hi {
    [data-radix-popper-content-wrapper] {
      @apply bg-gray-800 text-white p-4 rounded shadow-lg;
    }
  }

  .emoji {
    font-family: 'CustomEmojiFont', sans-serif;
    display: inline-flex;
    align-items: center;

    .tooltip-trigger:hover + .tooltip > .tooltip-content {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .tooltip-content {
      @apply z-50 overflow-hidden rounded-md border bg-popover px-3 py-1.5 text-sm text-popover-foreground shadow-md;
      font-family: 'CustomEmojiFont', sans-serif;
      display: flex;
      align-items: center;
      position: absolute;
      top: -181%;
      transform: translateX(-50%) translateY(3px);
      opacity: 0;
      left: 50%;
      border-radius: 0.5rem;
      gap: 0.25rem;

      p:first-child {
        @apply text-sm;
      }

      p:last-child {
        @apply text-xs text-muted-foreground;
      }
    }
  }
}

section#id {
  background: red;
}

/* NOTE: minimal editor */
@layer components {
  .truncate_text {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .editor_button {
    @apply grid items-center justify-center text-[.77rem] gap-[.2rem] text-start !p-0 whitespace-nowrap !w-8 !h-8 place-content-center;

    svg {
      @apply w-[1.1rem] h-[1.1rem] transition-all ease-in-out;
    }

    &:hover {
      button {
        @apply border-foreground/60;
      }

      svg {
        @apply stroke-foreground/60;
      }
    }

    &.disabled svg {
      @apply stroke-current;
    }

    &.active {
      @apply bg-foreground/10;

      svg {
        @apply stroke-current;
      }
    }
  }

  #tippy-1 {
    position: fixed !important;
    inset: auto auto 41px -78px !important;
  }

  .mention {
    @apply font-medium bg-foreground/10 px-1 rounded text-sm hover:bg-foreground/20 transition cursor-pointer text-primary/80;
  }

  @layer components {
    .up span:first-of-type {
      animation: up-first 0.3s forwards;
    }

    .up span:last-of-type {
      animation: up-last 0.3s forwards;
    }

    .down span:first-of-type {
      animation: down-first 0.3s forwards;
    }

    .down span:last-of-type {
      animation: down-last 0.3s forwards;
    }
  }

  @keyframes down-first {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes down-last {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(100%);
    }
  }

  @keyframes up-first {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes up-last {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  .tiptap {
    :first-child {
      margin-top: 0;
    }

    /* Code and preformatted text styles */
    code {
      /* background-color: hsl(var(--input)); */
      border-radius: 0.4rem;
      color: var(--black);
      font-size: 0.85rem;
      padding: 0.25em 0.3em;
    }

    /* Link styles */
    a {
      color: hsl(var(--foreground));
      border-bottom: 1px solid;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .tiptap.ProseMirror {
    * {
      transition: font-size 0.3s ease;
    }

    & tap p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      font-size: 0.875rem;
      pointer-events: none;
    }

    & > pre {
      background: hsl(var(--accent) / 0.4);
    }

    code {
      color: hsl(var(--foreground));
      border-radius: 0.2rem;
    }
  }

  .tiptap {
    :first-child {
      margin-top: 0;
    }

    pre {
      border-radius: 0.5rem;
      color: var(--white);
      font-family: 'JetBrainsMono', monospace;
      margin: 1.5rem 0;
      padding: 0.75rem 1rem;
      /**/
      /*     code { */
      /*         background: none; */
      /*         color: inherit; */
      /*         font-size: 0.8rem; */
      /*         padding: 0; */
      /*     } */
      /**/
      /*     .hljs-comment, */
      /*     .hljs-quote { */
      /*         color: #616161; */
      /*     } */
      /**/
      /*     .hljs-variable, */
      /*     .hljs-template-variable, */
      /*     .hljs-attribute, */
      /*     .hljs-tag, */
      /*     .hljs-name, */
      /*     .hljs-regexp, */
      /*     .hljs-link, */
      /*     .hljs-name, */
      /*     .hljs-selector-id, */
      /*     .hljs-selector-class { */
      /*         color: #f98181; */
      /*     } */
      /**/
      /*     .hljs-number, */
      /*     .hljs-meta, */
      /*     .hljs-built_in, */
      /*     .hljs-builtin-name, */
      /*     .hljs-literal, */
      /*     .hljs-type, */
      /*     .hljs-params { */
      /*         color: #fbbc88; */
      /*     } */
      /**/
      /*     .hljs-string, */
      /*     .hljs-symbol, */
      /*     .hljs-bullet { */
      /*         color: #b9f18d; */
      /*     } */
      /**/
      /*     .hljs-title, */
      /*     .hljs-section { */
      /*         color: #faf594; */
      /*     } */
      /**/
      /*     .hljs-keyword, */
      /*     .hljs-selector-tag { */
      /*         color: #70cff8; */
      /*     } */
      /**/
      /*     .hljs-emphasis { */
      /*         font-style: italic; */
      /*     } */
      /**/
      /*     .hljs-strong { */
      /*         font-weight: 700; */
      /*     } */
    }
  }

  .tiptap {
    .code-block {
      position: relative;

      select {
        position: absolute;
        background-color: var(--white);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="Black" d="M7 10l5 5 5-5z"/></svg>');
        right: 0.5rem;
        top: 0.5rem;
      }
    }
  }
}

.btn-love {
  &:after {
    content: '';
    position: absolute;
    left: -18.65px;
    background: url('https://abs.twimg.com/a/1446862637/img/t1/web_heart_animation.png') 0 0 no-repeat;
    background-size: 2900%;
    height: 3.5rem;
    width: 3.5rem;
  }
}

.btn-love:after {
  animation: heart-burst steps(28) 0.8s both;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

/* COMMENTS */
.comments {
  .comment:first-child {
    @apply mt-4;

    & > div {
      & > div.top-shape {
        @apply hidden;
      }
    }
  }

  .comment {
    & > div {
      & > div.top-shape {
        @apply flex -mt-2;
      }
    }
  }

  .bottom-shape,
  .top-shape {
    @apply transition;
  }

  .comment:last-child {
    & > div {
      & > div.top-shape {
        @apply flex -mt-4;
      }

      & > div.bottom-shape {
        @apply opacity-0;
      }
    }
  }
}

/* MENTION */
.mention {
  @apply font-medium bg-foreground/10 px-1 !my-[0px] rounded text-sm hover:bg-foreground/20 transition cursor-pointer text-primary/60 py-[2px];
}

/*  COMMENT */
.fade_animation {
  transition:
    margin 0.2s,
    opacity 0.8s,
    width 0.3s,
    height 0.3s,
    visibility 0.3s,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#wave {
  height: 70px;
  width: 70px;
  fill: #fff;
}

@for $i from 1 through 9 {
  .line_#{$i} {
    animation: wave-pulse 1s infinite;
    animation-delay: $i * 0.15s;
  }
}

@keyframes wave-pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: hsl(var(--border)) transparent;
  /* Thumb color and track color */

  /* WebKit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    /* Width of the entire scrollbar */
    height: 8px;
    /* Height of the scrollbar for horizontal scrolling */
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Scrollbar thumb radius */
    height: 24px;
    /* Scrollbar thumb height */
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--border) / 0.98);
    /* Scrollbar thumb color on hover */
  }
}

div[data-state='visible'] {
  z-index: 400;
}
