{
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "jsxBracketSameLine": false,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "tabWidth": 2,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "singleAttributePerLine": true
}
