.slider {
  --c: white;
  --g: 8px;
  --l: 5px;
  --s: 30px;

  width: 100%;
  height: var(--s);
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

.slider:focus-visible {
  --p: 25%;
}

.slider:active,
.slider:focus-visible {
  --_b: var(--s);
}

/* WebKit track */
.slider::-webkit-slider-runnable-track {
  height: var(--l);
  background: #ababab;
  border-radius: var(--l);
}

/* Firefox track */
.slider::-moz-range-track {
  height: var(--l);
  background: #ababab;
  border-radius: var(--l);
}

/* WebKit thumb */
.slider::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2) 100vw / 0
    calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  margin-top: calc((var(--l) - var(--s)) / 2);
  /* center thumb vertically */
}

/* Firefox thumb */
.slider::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2) 100vw / 0
    calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}

/* Fallback for color-mix unsupported */
@supports not (color: color-mix(in srgb, red, red)) {
  .slider {
    --_c: var(--c);
  }
}
