@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --destructive: 0deg 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --warning: 40.61deg 96.12% 40.39%;
    --warning-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --red-theme: #e60000;

    // DESTRUCTIVE
    --destructive-default: 10.2deg 77.9% 53.9%;
    --destructive-600: 9.7deg 85.2% 62.9%;
    --destructive-500: 7.9deg 71.6% 29%;
    --destructive-400: 6.7deg 60% 20.6%;
    --destructive-300: 7.5deg 51.3% 15.3%;
    --destructive-200: 10.9deg 23.4% 9.2%;

    --warning-600: 38.9deg 100% 42.9%;
    --warning-500: 34.8deg 90.9% 21.6%;
    --warning-400: 33.2deg 100% 14.5%;
    --warning-300: 32.3deg 100% 10.2%;
    --warning-200: 36.6deg 100% 8%;

    --helpers-os-appearance: Dark;
    --code-block-5: 13.8deg 89.7% 69.6%;
    --code-block-4: 276.1deg 67.7% 74.5%;
    --code-block-3: 83.8deg 61.7% 63.1%;
    --code-block-2: 33.2deg 90.3% 75.7%;
    --code-block-1: 170.8deg 43.1% 61.4%;
    --secondary-default: 247.8deg 100% 70%;
    --secondary-400: 248.3deg 54.5% 25.9%;
    --secondary-200: 248deg 53.6% 11%;
    --brand-link: 155deg 100% 38.6%;
    --brand-button: 154.9deg 100% 19.2%;
    --brand-default: 153.1deg 60.2% 52.7%;
    --brand-600: 154.9deg 59.5% 70%;
    --brand-500: 154.9deg 100% 19.2%;
    --brand-400: 155.5deg 100% 9.6%;
    --brand-300: 155.1deg 100% 8%;
    --brand-200: 162deg 100% 2%;
    --border-stronger: 0deg 0% 27.1%;
    --border-strong: 0deg 0% 21.2%;
    --border-alternative: 0deg 0% 26.7%;
    --border-control: 0deg 0% 22.4%;
    --border-overlay: 0deg 0% 20%;
    --border-secondary: 0deg 0% 14.1%;
    --border-muted: 0deg 0% 14.1%;
    --border-default: 0deg 0% 18%;
    --background-dash-canvas: 0deg 0% 7.1%;
    --background-dash-sidebar: 0deg 0% 9%;
    --background-dialog-default: 0deg 0% 7.1%;
    --background-muted: 0deg 0% 14.1%;
    --background-overlay-hover: 0deg 0% 18%;
    --background-overlay-default: 0deg 0% 14.1%;
    --background-surface-400: 0deg 0% 16.1%;
    --background-surface-300: 0deg 0% 16.1%;
    --background-surface-200: 0deg 0% 12.9%;
    --background-surface-100: 0deg 0% 12.2%;
    --background-surface-75: 0deg 0% 9%;
    --background-control: 0deg 0% 14.1%;
    --background-selection: 0deg 0% 19.2%;
    --background-alternative-default: 0deg 0% 5.9%;
    --background-default: 0deg 0% 7.1%;
    --background-200: 0deg 0% 9%;
    --foreground-contrast: 0deg 0% 8.6%;
    --foreground-muted: 0deg 0% 30.2%;
    --foreground-lighter: 0deg 0% 53.7%;
    --foreground-light: 0deg 0% 70.6%;
    --foreground-default: 0deg 0% 98%;
    --border-button-hover: var(--colors-gray-dark-800);
    --border-button-default: var(--colors-gray-dark-700);
    --background-button-default: var(--colors-gray-dark-500);
    --background-alternative-200: var(--colors-gray-dark-200);

    --colors-black: 0deg 0% 0%;
    --colors-white: 0deg 0% 100%;
    --colors-gray-dark-100: 0deg 0% 8.6%;
    --colors-gray-dark-200: 0deg 0% 11%;
    --colors-gray-dark-300: 0deg 0% 13.7%;
    --colors-gray-dark-400: 0deg 0% 15.7%;
    --colors-gray-dark-500: 0deg 0% 18%;
    --colors-gray-dark-600: 0deg 0% 20.4%;
    --colors-gray-dark-700: 0deg 0% 24.3%;
    --colors-gray-dark-800: 0deg 0% 31.4%;
    --colors-gray-dark-900: 0deg 0% 43.9%;
    --colors-gray-dark-1000: 0deg 0% 49.4%;
    --colors-gray-dark-1100: 0deg 0% 62.7%;
    --colors-gray-dark-1200: 0deg 0% 92.9%;
    --colors-gray-dark-alpha-100: hsla(0, 0%, 0%, 0);
    --colors-gray-dark-alpha-200: hsla(0, 0%, 100%, 0.03137254901960784);
    --colors-gray-dark-alpha-300: hsla(0, 0%, 100%, 0.058823529411764705);
    --colors-gray-dark-alpha-400: hsla(0, 0%, 100%, 0.0784313725490196);
    --colors-gray-dark-alpha-500: hsla(0, 0%, 100%, 0.10196078431372549);
    --colors-gray-dark-alpha-600: hsla(0, 0%, 100%, 0.12941176470588237);
    --colors-gray-dark-alpha-700: hsla(0, 0%, 100%, 0.16862745098039217);
    --colors-gray-dark-alpha-800: hsla(0, 0%, 100%, 0.25098039215686274);
    --colors-gray-dark-alpha-900: hsla(0, 0%, 100%, 0.38823529411764707);
    --colors-gray-dark-alpha-1000: hsla(0, 0%, 100%, 0.45098039215686275);
    --colors-gray-dark-alpha-1100: hsla(0, 0%, 100%, 0.5882352941176471);
    --colors-gray-dark-alpha-1200: hsla(0, 0%, 100%, 0.9215686274509803);
    --colors-gray-light-100: 0deg 0% 98.8%;
    --colors-gray-light-200: 0deg 0% 97.3%;
    --colors-gray-light-300: 0deg 0% 95.3%;
    --colors-gray-light-400: 0deg 0% 92.9%;
    --colors-gray-light-500: 0deg 0% 91%;
    --colors-gray-light-600: 0deg 0% 88.6%;
    --colors-gray-light-700: 0deg 0% 85.9%;
    --colors-gray-light-800: 0deg 0% 78%;
    --colors-gray-light-900: 0deg 0% 56.1%;
    --colors-gray-light-1000: 0deg 0% 52.2%;
    --colors-gray-light-1100: 0deg 0% 43.5%;
    --colors-gray-light-1200: 0deg 0% 9%;
    --colors-gray-light-alpha-100: hsla(0, 0%, 0%, 0.011764705882352941);
    --colors-gray-light-alpha-200: hsla(0, 0%, 0%, 0.03137254901960784);
    --colors-gray-light-alpha-300: hsla(0, 0%, 0%, 0.050980392156862744);
    --colors-gray-light-alpha-400: hsla(0, 0%, 0%, 0.07058823529411765);
    --colors-gray-light-alpha-500: hsla(0, 0%, 0%, 0.09019607843137255);
    --colors-gray-light-alpha-600: hsla(0, 0%, 0%, 0.10980392156862745);
    --colors-gray-light-alpha-700: hsla(0, 0%, 0%, 0.1411764705882353);
    --colors-gray-light-alpha-800: hsla(0, 0%, 0%, 0.2196078431372549);
    --colors-gray-light-alpha-900: hsla(0, 0%, 0%, 0.4392156862745098);
    --colors-gray-light-alpha-1000: hsla(0, 0%, 0%, 0.47843137254901963);
    --colors-gray-light-alpha-1100: hsla(0, 0%, 0%, 0.5607843137254902);
    --colors-gray-light-alpha-1200: hsla(0, 0%, 0%, 0.9098039215686274);
    --colors-slate-dark-100: 200deg 6.7% 8.8%;
    --colors-slate-dark-200: 195deg 7.1% 11%;
    --colors-slate-dark-300: 192deg 7.2% 13.5%;
    --colors-slate-dark-400: 204deg 6.2% 15.9%;
    --colors-slate-dark-500: 200deg 6.5% 18%;
    --colors-slate-dark-600: 205.7deg 6.7% 20.6%;
    --colors-slate-dark-700: 202.5deg 6.5% 24.3%;
    --colors-slate-dark-800: 206.7deg 5.6% 31.6%;
    --colors-slate-dark-900: 205.7deg 6.3% 43.9%;
    --colors-slate-dark-1000: 207.7deg 5.1% 49.6%;
    --colors-slate-dark-1100: 207.3deg 5.8% 62.9%;
    --colors-slate-dark-1200: 210deg 5.6% 92.9%;
    --colors-slate-dark-alpha-100: hsla(0, 0%, 0%, 0);
    --colors-slate-dark-alpha-200: hsla(181.39999999999998, 100%, 91.8%, 0.03137254901960784);
    --colors-slate-dark-alpha-300: hsla(181.60000000000002, 86.4%, 91.4%, 0.058823529411764705);
    --colors-slate-dark-alpha-400: hsla(208.89999999999998, 87.1%, 93.9%, 0.0784313725490196);
    --colors-slate-dark-alpha-500: hsla(200, 88.2%, 93.3%, 0.10980392156862745);
    --colors-slate-dark-alpha-600: hsla(209, 93.9%, 93.5%, 0.1411764705882353);
    --colors-slate-dark-alpha-700: hsla(203.20000000000005, 100%, 93.9%, 0.1803921568627451);
    --colors-slate-dark-alpha-800: hsla(208.79999999999995, 92.6%, 94.7%, 0.25882352941176473);
    --colors-slate-dark-alpha-900: hsla(208, 100%, 94.1%, 0.4117647058823529);
    --colors-slate-dark-alpha-1000: hsla(210, 100%, 95.3%, 0.47058823529411764);
    --colors-slate-dark-alpha-1100: hsla(210, 100%, 96.9%, 0.6196078431372549);
    --colors-slate-dark-alpha-1200: hsla(210, 100%, 99.6%, 0.9294117647058824);
    --colors-slate-light-100: 210deg 33.3% 98.8%;
    --colors-slate-light-200: 210deg 16.7% 97.6%;
    --colors-slate-light-300: 210deg 16.7% 95.3%;
    --colors-slate-light-400: 210deg 11.8% 93.3%;
    --colors-slate-light-500: 216deg 11.1% 91.2%;
    --colors-slate-light-600: 205.7deg 12.3% 88.8%;
    --colors-slate-light-700: 210deg 11.1% 85.9%;
    --colors-slate-light-800: 205deg 10.7% 78%;
    --colors-slate-light-900: 205.7deg 6.3% 56.1%;
    --colors-slate-light-1000: 205.7deg 5.7% 52.2%;
    --colors-slate-light-1100: 205.7deg 6.3% 43.5%;
    --colors-slate-light-1200: 201.8deg 24.4% 8.8%;
    --colors-slate-light-alpha-100: hsla(209.79999999999995, 92.6%, 26.5%, 0.0196078431372549);
    --colors-slate-light-alpha-200: hsla(210, 87.8%, 16.1%, 0.03137254901960784);
    --colors-slate-light-alpha-300: hsla(209.60000000000002, 100%, 14.3%, 0.050980392156862744);
    --colors-slate-light-alpha-400: hsla(210.60000000000002, 93%, 11.2%, 0.0784313725490196);
    --colors-slate-light-alpha-500: hsla(215.29999999999995, 92.7%, 10.8%, 0.10196078431372549);
    --colors-slate-light-alpha-600: hsla(205.70000000000005, 96.6%, 11.4%, 0.12941176470588237);
    --colors-slate-light-alpha-700: hsla(209.39999999999998, 100%, 10%, 0.1607843137254902);
    --colors-slate-light-alpha-800: hsla(204.5, 96.1%, 10%, 0.23921568627450981);
    --colors-slate-light-alpha-900: hsla(206, 100%, 5.9%, 0.47058823529411764);
    --colors-slate-light-alpha-1000: hsla(204.39999999999998, 100%, 5.3%, 0.5098039215686274);
    --colors-slate-light-alpha-1100: hsla(205, 100%, 4.7%, 0.5882352941176471);
    --colors-slate-light-alpha-1200: hsla(200, 100%, 2.4%, 0.9294117647058824);
    --variables-colors-brand-primary: 153.1deg 60.2% 52.7%;
    --variables-colors-brand-accent: 152.9deg 56.1% 46.5%;
    --spacing-scale: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --sizing-scale: 1.5px;
    --sizing-xs: 4px;
    --sizing-sm: 6px;
    --sizing-md: 9px;
    --sizing-lg: 13.5px;
    --sizing-xl: 20.25px;
    --borderradius-sm: 4px;
    --borderradius-lg: 8px;
    --borderradius-xl: 16px;
    --borderradius-xs: 2px;
    --borderradius-tableheader: 4px;
    --borderwidth-none: 0;
    --borderwidth-xs: 1px;
    --borderwidth-sm: 2px;
    --borderwidth-md: 4px;
    --borderwidth-lg: 8px;
    --icon-xs: 12px;
    --icon-sm: 16px;
    --icon-md: 18px;
    --iconwidth-default: 1px;
    --panel: 2px;
    --datatable-headericon: 16px;
    --datatable-rowheight: 28px;
    --options-icon: 18px;
    --input-sm-height: 28px;
    --panel2: 4px;
    --xxl: 128px;
    --content-width-screen-xl: 1128px;
    --font-family-body: Inter;
  }

  /* .dark { */
  /*   --background: 240 23% 9%; */
  /*   --foreground: 226 64% 88%; */
  /*   --card: 240 23% 9%; */
  /*   --card-foreground: 226 64% 88%; */
  /*   --popover: 240 23% 9%; */
  /*   --popover-foreground: 226 64% 88%; */
  /*   --primary: 226 64% 88%; */
  /**/
  /*   --primary-foreground: 240 23% 9%; */
  /**/
  /*   --secondary: 217 92% 76%; */
  /**/
  /*   --secondary-foreground: 240 23% 9%; */
  /**/
  /*   --muted: 233 12% 39%; */
  /**/
  /*   --muted-foreground: 228 24% 72%; */
  /**/
  /*   --accent: 233 12% 39%; */
  /*   --accent-foreground: 226 64% 88%; */
  /*   --destructive: 343 81% 75%; */
  /*   --destructive-foreground: 240 23% 9%; */
  /*   --border: 233 12% 39%; */
  /*   --input: 233 12% 39%; */
  /*   --ring: 217 92% 76%; */
  /*   --radius: 0.5rem; */
  /* } */

  /* .dark { */
  /*   --background: 240 10% 3.9%; */
  /*   --foreground: 0 0% 98%; */
  /*   --card: 240 10% 3.9%; */
  /*   --card-foreground: 0 0% 98%; */
  /*   --popover: 240 10% 3.9%; */
  /*   --popover-foreground: 0 0% 98%; */
  /*   --primary: 0 0% 98%; */

  /*   --primary-foreground: 240 5.9% 10%; */

  /*   --secondary: 240 3.7% 15.9%; */
  /*   --secondary-foreground: 0 0% 98%; */

  /*   --muted: 240 3.7% 15.9%; */
  /*   --muted-foreground: 240 5% 64.9%; */

  /*   --accent: 240 3.7% 15.9%; */
  /*   --accent-foreground: 0 0% 98%; */
  /*   --destructive: 0 62.8% 30.6%; */
  /*   --destructive-foreground: 0 0% 98%; */
  /*   --border: 240 3.7% 15.9%; */
  /*   --input: 240 3.7% 15.9%; */
  /*   --ring: 240 4.9% 83.9%; */
  /*   --chart-1: 220 70% 50%; */
  /*   --chart-2: 160 60% 45%; */
  /*   --chart-3: 30 80% 55%; */
  /*   --chart-4: 280 65% 60%; */
  /*   --chart-5: 340 75% 55%; */
  /* } */
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }

  html {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
    /* Width of the entire scrollbar */
    height: 8px;
    /* Height of the scrollbar for horizontal scrolling */
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Scrollbar thumb radius */
    height: 24px;
    /* Scrollbar thumb height */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--border) / 0.98);
    /* Scrollbar thumb color on hover */
  }

  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: '';
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@layer utilities {
  .ellipsis {
    /* font-size: 0.75rem; */
    /* line-height: 1rem; */
    font-weight: 500;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

/*NOTE: MINITMAL EDITOR */
@layer components {
  .mdx__minimal__text__editor {
    @apply grid border border-input overflow-visible;

    .disabled {
      @apply pointer-events-none;
    }

    * {
      /* @apply transition-all duration-300 ease-in-out; */

      &:focus-visible {
        outline: none !important;
      }
    }

    /* Scroll area viewport styling */
    div[data-radix-scroll-area-viewport] {
      @apply rounded-none !overflow-visible;
    }

    .tiptap.ProseMirror {
      /* Apply transition to all elements */

      /* Placeholder for empty paragraph */
      p.is-editor-empty:first-child::before {
        @apply text-gray-400 text-sm pointer-events-none;
        content: attr(data-placeholder);
        float: left;
        height: 0;
      }

      /* Preformatted text background */
      >pre {
        @apply bg-accent/40;
      }

      /* Code block styling */
      code {
        @apply rounded-sm;
      }

      /* Paragraph font size */
      p {
        @apply text-sm;

        &:focus-visible {
          outline: none !important;
        }
      }

      /* Heading styles */
      h1 {
        @apply text-2xl my-2;
      }

      h2 {
        @apply text-xl my-2;
      }

      h3 {
        @apply text-lg my-2;
      }

      h4 {
        @apply text-base;
      }

      h5 {
        @apply text-sm;
      }

      h6 {
        @apply text-xs;
      }
    }
  }

  .div.hi {
    [data-radix-popper-content-wrapper] {
      @apply bg-gray-800 text-white p-4 rounded shadow-lg;
    }
  }

  .emoji {
    font-family: 'CustomEmojiFont', sans-serif;
    display: inline-flex;
    align-items: center;

    .tooltip-trigger:hover+.tooltip>.tooltip-content {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .tooltip-content {
      @apply z-50 overflow-hidden rounded-md border bg-popover px-3 py-1.5 text-sm text-popover-foreground shadow-md;
      font-family: 'CustomEmojiFont', sans-serif;
      display: flex;
      align-items: center;
      position: absolute;
      top: -181%;
      transform: translateX(-50%) translateY(3px);
      opacity: 0;
      left: 50%;
      border-radius: 0.5rem;
      gap: 0.25rem;

      p:first-child {
        @apply text-sm;
      }

      p:last-child {
        @apply text-xs text-muted-foreground;
      }
    }
  }
}

section#id {
  background: red;
}

/* NOTE: minimal editor */
@layer components {
  .editor_button {
    @apply grid items-center justify-center text-[.77rem] gap-[.2rem] text-start !p-0 whitespace-nowrap !w-8 !h-8 place-content-center;

    svg {
      @apply w-[1.1rem] h-[1.1rem] transition-all ease-in-out;
    }

    &:hover {
      button {
        @apply border-foreground/60;
      }

      svg {
        @apply stroke-foreground/60;
      }
    }

    &.disabled svg {
      @apply stroke-current;
    }

    &.active {
      @apply bg-foreground/10;

      svg {
        @apply stroke-current;
      }
    }
  }

  #tippy-1 {
    position: fixed !important;
    inset: auto auto 41px -78px !important;
  }

  .mention {
    @apply font-medium bg-foreground/10 px-1 rounded text-sm hover:bg-foreground/20 transition cursor-pointer text-primary/80;
  }

  @layer components {
    .up span:first-of-type {
      animation: up-first 0.3s forwards;
    }

    .up span:last-of-type {
      animation: up-last 0.3s forwards;
    }

    .down span:first-of-type {
      animation: down-first 0.3s forwards;
    }

    .down span:last-of-type {
      animation: down-last 0.3s forwards;
    }
  }

  @keyframes down-first {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes down-last {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(100%);
    }
  }

  @keyframes up-first {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes up-last {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  .tiptap {
    :first-child {
      margin-top: 0;
    }

    /* Code and preformatted text styles */
    code {
      /* background-color: hsl(var(--input)); */
      border-radius: 0.4rem;
      color: var(--black);
      font-size: 0.85rem;
      padding: 0.25em 0.3em;
    }

    /* Link styles */
    a {
      color: hsl(var(--foreground));
      border-bottom: 1px solid;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .tiptap.ProseMirror {
    * {
      transition: font-size 0.3s ease;
    }

    & tap p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      font-size: 0.875rem;
      pointer-events: none;
    }

    &>pre {
      background: hsl(var(--accent) / 0.4);
    }

    code {
      color: hsl(var(--foreground));
      border-radius: 0.2rem;
    }
  }

  .tiptap {
    :first-child {
      margin-top: 0;
    }

    pre {
      border-radius: 0.5rem;
      color: var(--white);
      font-family: 'JetBrainsMono', monospace;
      margin: 1.5rem 0;
      padding: 0.75rem 1rem;
      /**/
      /*     code { */
      /*         background: none; */
      /*         color: inherit; */
      /*         font-size: 0.8rem; */
      /*         padding: 0; */
      /*     } */
      /**/
      /*     .hljs-comment, */
      /*     .hljs-quote { */
      /*         color: #616161; */
      /*     } */
      /**/
      /*     .hljs-variable, */
      /*     .hljs-template-variable, */
      /*     .hljs-attribute, */
      /*     .hljs-tag, */
      /*     .hljs-name, */
      /*     .hljs-regexp, */
      /*     .hljs-link, */
      /*     .hljs-name, */
      /*     .hljs-selector-id, */
      /*     .hljs-selector-class { */
      /*         color: #f98181; */
      /*     } */
      /**/
      /*     .hljs-number, */
      /*     .hljs-meta, */
      /*     .hljs-built_in, */
      /*     .hljs-builtin-name, */
      /*     .hljs-literal, */
      /*     .hljs-type, */
      /*     .hljs-params { */
      /*         color: #fbbc88; */
      /*     } */
      /**/
      /*     .hljs-string, */
      /*     .hljs-symbol, */
      /*     .hljs-bullet { */
      /*         color: #b9f18d; */
      /*     } */
      /**/
      /*     .hljs-title, */
      /*     .hljs-section { */
      /*         color: #faf594; */
      /*     } */
      /**/
      /*     .hljs-keyword, */
      /*     .hljs-selector-tag { */
      /*         color: #70cff8; */
      /*     } */
      /**/
      /*     .hljs-emphasis { */
      /*         font-style: italic; */
      /*     } */
      /**/
      /*     .hljs-strong { */
      /*         font-weight: 700; */
      /*     } */
    }
  }

  .tiptap {
    .code-block {
      position: relative;

      select {
        position: absolute;
        background-color: var(--white);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="Black" d="M7 10l5 5 5-5z"/></svg>');
        right: 0.5rem;
        top: 0.5rem;
      }
    }
  }
}

.btn-love {
  &:after {
    content: '';
    position: absolute;
    left: -18.65px;
    background: url('https://abs.twimg.com/a/1446862637/img/t1/web_heart_animation.png') 0 0 no-repeat;
    background-size: 2900%;
    height: 3.5rem;
    width: 3.5rem;
  }
}

.btn-love:after {
  animation: heart-burst steps(28) 0.8s both;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

/* COMMENTS */
.comments {
  .comment:first-child {
    @apply mt-4;

    &>div {
      &>div.top-shape {
        @apply hidden;
      }
    }
  }

  .comment {
    &>div {
      &>div.top-shape {
        @apply flex -mt-2;
      }
    }
  }

  .bottom-shape,
  .top-shape {
    @apply transition;
  }

  .comment:last-child {
    &>div {
      &>div.top-shape {
        @apply flex -mt-4;
      }

      &>div.bottom-shape {
        @apply opacity-0;
      }
    }
  }
}

/* MENTION */
.mention {
  @apply font-medium bg-foreground/10 px-1 !my-[0px] rounded text-sm hover:bg-foreground/20 transition cursor-pointer text-primary/60 py-[2px];
}

/*  COMMENT */
.fade_animation {
  transition:
    margin 0.2s,
    opacity 0.8s,
    width 0.3s,
    height 0.3s,
    visibility 0.3s,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#wave {
  height: 70px;
  width: 70px;
  fill: #fff;
}

@for $i from 1 through 9 {
  .line_#{$i} {
    animation: wave-pulse 1s infinite;
    animation-delay: $i * 0.15s;
  }
}

@keyframes wave-pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: hsl(var(--border)) transparent;
  /* Thumb color and track color */

  /* WebKit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    /* Width of the entire scrollbar */
    height: 8px;
    /* Height of the scrollbar for horizontal scrolling */
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Scrollbar thumb radius */
    height: 24px;
    /* Scrollbar thumb height */
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--border) / 0.98);
    /* Scrollbar thumb color on hover */
  }
}

div[data-state='visible'] {
  z-index: 400;
}
