@import "tailwindcss";

@source "../../node_modules/@gentleduck/registry-ui-duckui";
@source "../../node_modules/@gentleduck/lazy";
@source "../../node_modules/@gentleduck/motion";
/* @source "../../../packages/_oldstuff_refactor/ui"; */

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.98 0 0);
  --warning: oklch(0.76 0.17 57.8);
  --warning-foreground: oklch(0.98 0 0);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.44 0.16 26.9);
  --destructive-foreground: oklch(0.98 0 0);
  --warning: oklch(0.68 0.14 75.83);
  --warning-foreground: oklch(0.98 0 0);

  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
  font-family: satoshi;
  font-weight: 100 900;
  font-display: swap;
  src: url("/satoshi-VF.woff2") format("woff2")
}

html,body {
  font-family: satoshi;
}

@keyframes hero-gradient-animation {
  0% {
      --x-0: 85%;
      --y-0: 80%;
      --s-start-0: 9%;
      --s-end-0: 55%;
      --c-0: hsla(266.99999999999983, 1%, 12%, 1);
      --y-1: 24%;
      --x-1: 60%;
      --s-start-1: 5%;
      --s-end-1: 72%;
      --c-1: hsla(335.9999999999997, 2%, 22%, 1);
      --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
      --y-2: 82%;
      --x-2: 13%;
      --s-start-2: 5%;
      --s-end-2: 52%;
      --y-3: 7%;
      --c-3: hsla(299, 4%, 36%, 1);
      --x-3: 24%;
      --s-start-3: 13%;
      --s-end-3: 68%;
  }

  100% {
      --x-0: 31%;
      --y-0: 94%;
      --s-start-0: 9%;
      --s-end-0: 55%;
      --c-0: hsla(266.99999999999943, 0%, 12%, 1);
      --y-1: 25%;
      --x-1: 2%;
      --s-start-1: 5%;
      --s-end-1: 72%;
      --c-1: hsla(0, 4%, 19%, 1);
      --c-2: hsla(54.000000000000036, 0%, 0%, 0.49);
      --y-2: 20%;
      --x-2: 98%;
      --s-start-2: 5%;
      --s-end-2: 52%;
      --y-3: 92%;
      --c-3: hsla(298.99999999999994, 3%, 41%, 1);
      --x-3: 95%;
      --s-start-3: 13%;
      --s-end-3: 68%;
  }
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 85%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 80%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 9%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 55%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(266.99999999999983, 1%, 12%, 1)
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 24%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 72%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(335.9999999999997, 2%, 22%, 1)
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(53.999999999999886, 0%, 0%, 0.49)
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 82%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 13%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 52%
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(299, 4%, 36%, 1)
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 24%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 13%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

.gradient {
  --x-0: 85%;
  --y-0: 80%;
  --c-0: hsla(266.99999999999983, 1%, 12%, 1);
  --y-1: 24%;
  --x-1: 60%;
  --c-1: rgb(100, 99, 99);
  --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
  --y-2: 82%;
  --x-2: 13%;
  --y-3: 7%;
  --c-3: rgb(176, 167, 176);
  --x-3: 24%;
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}